a {
    text-decoration: none;
  }
  
  h1 {
    font-family: Staatliches;
    font-size: 120px;
  }
  
  #description {
    font-family: Staatliches;
    font-size: 15px;
    color: black;
  }
  
  #title {
    letter-spacing: 2px;
    font-size: 40x;
    font-size: 1.375rem;
    line-height: 1.13636;
    color: black;
    font-family: Staatliches;
    font-weight: 500;
    text-align: center;
  }
  
  #banner {
    margin: 20px;
    height: 800px;
  }
  
  #editor {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
  }

  .header-block {
    border: 3px solid #fff;
    padding: 20px;
    text-align: center;
  }
  
  
  .uk-navbar-container {
    background: #fff !important;
    font-family: Staatliches;
  }

  
  img:hover {
    opacity: 1;
    transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  }